[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore.global
[include]
	path = ~/.gitconfig.local
[alias]
	co = checkout
	st = status
	lp = log -p
	oneline = log --pretty=oneline
	logline = log --date=short --pretty='format:%C(yellow)%h %C(green)%cd %C(blue)%an%C(red)%d %C(reset)%s'
	ranking = shortlog -s -n --no-merges
	lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	ls = log --stat
	dm = diff master
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	sup = submodule update
	pof = pull --ff origin master
	mfck = "!git --no-pager diff --diff-filter=ACMRX --name-only --no-color HEAD | egrep '\\.(t|p([lm]|sgi))$' | xargs -n 1 -P2 mf-dev-env perl -wc"
	jira = log --date=short --no-merges --pretty=format:'|%h|%an|%ad|%s|'
	fetch-clean = !git fetch -p && git branch --merged | grep -v \\* | xargs -I% git branch -d %
[push]
	default = tracking
[branch "master"]
	mergeoptions = --no-ff
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[init]
	templatedir = ~/.git_template
[merge "mergepbx"]
	name = XCode project file merger
	driver = mergepbx %O %A %B
[color "diff"]
	meta = black bold
[user]
	email = mattak.me@gmail.com
	name = mattak
