[core]
	editor = /usr/bin/env nvim
	excludesfile = ~/.gitignore.global
[include]
	path = ~/.gitconfig.local
[alias]
	st = status
	sw = switch
	rs = restore
	lp = log -p
	oneline = log --pretty=oneline
	logline = log --date=short --pretty='format:%C(yellow)%h %C(green)%cd %C(blue)%an%C(red)%d %C(reset)%s'
	ranking = shortlog -s -n --no-merges
	lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	ls = log --stat
	dm = diff master
	dc = diff --cached
	d = diff
	a = add
	cmv = commit -v
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	sup = submodule update
	pof = pull --ff origin master
	mfck = "!git --no-pager diff --diff-filter=ACMRX --name-only --no-color HEAD | egrep '\\.(t|p([lm]|sgi))$' | xargs -n 1 -P2 mf-dev-env perl -wc"
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	fetch-clean = !git fetch -p && git branch --merged | grep -v \\* | xargs -I% git branch -d %
[push]
	default = tracking
	autoSetupRemote = true
	followTags = true
[branch "master"]
	mergeoptions = --no-ff
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[merge "mergepbx"]
	name = XCode project file merger
	driver = mergepbx %O %A %B
[color "diff"]
	meta = black bold
[user]
	email = mattak.me@gmail.com
	name = mattak
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
